.checkout_wrapper {
    max-width: 1200px;
    margin: 50px auto;
}

.checkout_wrapper h3 {
    margin: 20px 0;
}

.checkout_form input {
    padding: 10px 20px;
    margin-bottom: 15px;
}

/* .checkout_product_cart_display {

} */

.checkout_form label {
    font-size: 1.8rem;
    font-weight: 700;
    margin-left: 10px;
}