.order_confirmation_wrapper {
    max-width: 1200px;
    margin: 50px auto;
}

.order_confirmation_wrapper h2 {
    margin-bottom: 20px;
}
.order_confirmation_wrapper h3 {
    margin-top: 20px;
}

.order_confirmation_heading4 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 20px;
}