/* Font Imports */

@import url('./variables.css');
@import url('./fonts.css');

/* Base styling */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Img base style */
img {
  width: 100%;
}

input {
  outline: none;
  border: 1px solid grey;
  width: 100%;
  padding: 20px 20px;
  border-radius: 50px;
  font-size: 1.6rem;
}

input + input {
  margin-top: 10px;
}

input[type="button"] {
  cursor: pointer;
  background-color: rgba(85, 85, 85, 0.918);
  color: #fff;
  font-size: 1.8rem;
}

.inputButton {
  outline: none;
  border: 1px solid grey;
  width: 100%;
  padding: 20px 20px;
  border-radius: 50px;
  font-size: 1.6rem;
  cursor: pointer;
  background-color: rgba(85, 85, 85, 0.918);
  color: #fff;
  font-size: 1.8rem;
}
