.card_wrapper {
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  flex: 1 0 21%;
}

.card_img_wrapper img {
  height: 150px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.card_content_wrapper {
  padding: 20px 10px;
}

.card_title {
  font-size: 2.5rem;
}

.card_description {
  font-size: 1.8rem;
}

.card_price {
  font-size: 2rem;
}

.card_button {
  border: none;
  outline: none;
  padding: 12px 18px;
  background-color: #000000;
  color: #fff;
  border-radius: 50px;
  font-size: 1.6rem;
  cursor: pointer;
  margin-top: 10px;
}

.card_button:hover {
  background-color: #fff;
  color: #000000;
  border: 2px solid #000000;
}
