.register_container {
    min-height: 50vh;
}

.register_wrapper {
    max-width: 1200px;
    margin: 50px auto;
}

.register_wrapper h3 {
    margin: 20px 0;
}

.register_form input {
    padding: 10px 20px;
}